.navStyle {
    display: flex;
    flex-direction: row-reverse;

    &__navLinks {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        align-items: center;
        
        .lenke { 
            display: flex;
            padding: 1rem;
            text-decoration: none;
        }
    }
}
