@import (reference) '~nav-frontend-core/less/_variabler';


.filterwrapper{
    width: 19rem;
    height: fit-content;
    //background-color: @navLysGra;
    background-color: #efeded;
}

.Overskrift{
    margin-top: 1.3rem;
}

.katergorioverskrift{
    border-top: 2px black solid;
    background-color: #ffffff;
    height: 3rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.filtercheckbox{
    margin-bottom: 2rem;
}