@import (reference) '~nav-frontend-core/less/_variabler';

.footer{
    background: @navGra80;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 1.5%;
    width: 100%;

    .footerElements{
        display: flex;
        margin-left: 2.5rem;
        font-size: 0.75rem;
        color: white;

        .element{
            padding-left: 3rem;
            cursor: pointer;
            text-decoration: none;
        }
    }

    
}


