@import (reference) '~nav-frontend-core/less/_variabler';

.footer{
    background: @navGra80;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    padding: 1.5%;
    width: 100%;


    button{
        color:white;
        font-size: 0.7rem;
    }

    
}


