@import (reference) '~nav-frontend-core/less/_variabler';

.header{
    position: sticky;

    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding-top: 1rem;

    .headerLogo {

        &__logosvg {
            display: flex;
            flex-direction: row;
            position: absolute;
            align-items: center;
            padding-top: 1rem;
            color: @navMorkGra;
        }

        &__title {
            padding-left: 2.5rem;
        }

    }

}