@import (reference) '~nav-frontend-core/less/_variabler';

.begreper{
    border-top: 2px solid lightgray ;
    width: 10rem;
    margin-bottom: 12rem; //avstand til bunnen av tabellen for å hindre overlapp i header og tabellfelter
    margin-left: 2%;
    //margin-right: 50%;
    background: @navLysGra;
    //margin-top: 0.5%;
    box-sizing: border-box;
    //border: 1px solid blue;

    th{
        
        //height: 10rem;
        text-align: left;
        //color: black;   //tekstfargen
        //border-bottom: 1px black;

        padding: 1.2rem;
    }

    tr {  
        td {
            border-bottom: 0.2px solid gray; //delelinjene i selve tabellen
            padding: 0.5rem;

            
        }
    }
}


/**
.begreper td:nth-child(1),
.begreper td:nth-child(3),
.begreper td:nth-child(4){
    width: 20%;
}
.begreper td:nth-child(2){
    width: 40%;
}*/


//LES ESKIL: DENNE DELEN SOM PER NÅ GJØR AT LAYOUTEN IKKE SER MONGO UT
table {
    table-layout: fixed;
}
th,
td {
    width: 20rem;
    
}


.separator{
    //background: red;
    width: 100%;
    //height: 2px;

    box-shadow: 0px 3px 1px rgba(184, 182, 182, 0.892);
    //background-position: 0,100%,0,100%;

}

.altaltalt{  //gråfarge fra header og ned
    background: @navLysGra;

}

.altalt{
    position: relative;
    //top: 4rem;
    //margin-left: 9.3rem;
    //margin-right: 9rem;

}


.selectfields{
    position: relative;
    top: 1rem;
    padding-left: 3.4rem;      //posisjon fra venstre på selectfields

}

.altavtabell{
    //starter fra tabellheader
    position: relative;
    top: 6rem;
    //background: blue; //minus selectfields
}

.altavtabell td:nth-child(2){
    //border: solid 1px red;

}

