@import (reference) '~nav-frontend-core/less/_variabler';


.kontaktOss {
  border-top: 2px solid lightgray;
  padding-bottom: 100rem;
  padding-left: 3%;
  padding-right: 3%;
  background: @navLysGra; 
  
  table {
      width: 100%;
    }
    
   th {
      padding: 0.5rem;
    }
    
    tr {
      display: flex;
      flex-direction: row;
      flex-direction: column;
      border-bottom: 1px solid @navGra40;
    }
    
 
   td {
      position: relative;
    }

    
    @media screen and (max-width: 640px ) {
      head {
        display: none;
      }
    
      tr {
        flex-direction: column;
        padding-top: 6px;
        padding-bottom: 6px;
      }
    
      td{
        padding: 1px 0.5rem 1px 0.5rem;
        width: 100% !important;
        text-align: left !important;
      }
    
    }
    
    @media screen and (min-width: 641px ) {
    
     thead{
        display: block;
        border-bottom: 1px solid @navGra40;
      }
    
      tr {
        flex-direction: row;
        height: 48px;
        align-items: center;
      }
    
      td {
        padding: 0.5rem;
      }
    
      td:not(:first-child)::before {
        content: '';
        display: block;
        position: absolute;
        top: 0.6rem;
        left: 0;
        height: 1.3rem;
        width: 2px;
        border-left: 1px solid @navGra40;
      }
    }
  }